.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    --bg: #F0C048;
    --light-bg: #F2D791;
    --dark-bg: #FFF3D6;
    --text: #1B1311;
    --hint: #B8B2A2;
    --cancel: #FF5E5E;
    --save: #52FA81;
    --icon: #4875F0;
    --accent: #1D59FF;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
